*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("./font-style/static/Rubik-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("./font-style/static/Rubik-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("./font-style/static/Rubik-Bold.ttf") format("opentype");
}
:root {
  /*primary colors*/
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /*neutral colors*/
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

  /*font family*/
  --font-ff-rubik-regular: "Rubik-Regular";
  --font-ff-rubik-medium: "Rubik-Medium";
  --font-ff-rubkik-bold: "Rubik-Bold";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-ff-rubik-regular);
  /*I should move back this property back to the app element*/
  background-color: var(--very-light-gray);
}

.app {
  min-height: 100vh;
  padding: 1.6rem 1.6rem;
}

/* Comment Input */
.comment__user-image {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
}

.add-comment {
  background-color: var(--white);
  border-radius: 5px;
  /*I made this only to make center, we can remove it later*/
  margin: 0 auto;
  padding: 1.6rem 1.6rem 1.3rem;
  max-width: 52.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.add-comment__comment-input {
  order: -1;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 1.6rem 2.3rem 6.6rem;
  border: 1px solid var(--light-gray);
}

.add-comment__comment-input::placeholder {
  color: var(--grayish-blue);
  font-family: var(--font-ff-rubik-regular);
  font-size: 1.65rem;
}

.add-comment button {
  height: 4.8rem;
  width: 10.4rem;
}

@media screen and (min-width: 748px) {
  .add-comment {
    padding: 2.5rem;
    max-width: 73.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    border-radius: 10px;
    flex-wrap: initial;
  }

  .add-comment__comment-input {
    order: 0;
    width: auto;
    margin: 0 1.6rem 1.6rem 0;
    flex-grow: 1;
  }
}

/* Buttons */
.btn {
  border-radius: 5px;
  border: 0;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 1rem 0;
  outline: 0;
}

.btn--primary {
  background: var(--moderate-blue);
  color: #fff;
}

.btn--secondary {
  background: var(--grayish-blue);
  color: #fff;
}

.btn--accent {
  background: var(--soft-red);
  color: #fff;
}

@media screen and (min-width: 1044px) {
  .btn {
    font-size: 1.4rem;
  }
}

/* Action Buttons */
.comment__actions {
  display: flex;
  align-items: right;
  gap: 1.6rem;
}
.action-button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: filter 0.15s;
  text-transform: capitalize;
  font-family: var(--font-ff-rubik-medium);
  border: none;
  background: none;
}
.action-button:hover {
  filter: brightness(2);
}

.action-button__icon {
}

.action-button__label {
  font-size: 1.6rem;
}

/* Modifier for reply button */
.action-button--reply {
  color: var(--moderate-blue);
}

/* Modifier for edit button */
.action-button--edit {
  color: var(--moderate-blue);
}

/* Modifier for delete button */
.action-button--delete {
  color: var(--soft-red);
}

/* Comment Body */
.comment__body {
  font-family: var(--font-ff-rubik-regular);
  color: var(--grayish-blue);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.comment__reply-to {
  color: var(--moderate-blue);
}